@charset "utf-8";

// Set your brand colors
$yellow: #ffc107;
$light-grey: #b5b6b7;

// Update Bulma's global variables
$family-sans-serif: "Poppins", sans-serif;
$primary: $yellow;

body {
  background-color: rgba($color: $yellow, $alpha: 0.2);
  background-image: url("../images/background-pattern.png");
  background-repeat: no-repeat;
  height: 100vh;
}

@import "~bulma/bulma.sass";
