@import "../styles/custom.scss";

.column-wrapper {
  @extend .column;
  @extend .is-flex;
  @extend .is-flex-wrap-wrap;
  @extend .is-align-content-space-between;
  @extend .is-justify-content-center;
  @extend .py-5;

  height: 75vh;
  padding-right: 22px;

  .button {
    transition: all 0.3s ease-in-out;
  }

  .title {
    @extend .has-text-white;
    @extend .has-text-centered;
    @extend .is-capitalized;
    @extend .my-4;
  }

  .full-name {
    @extend .is-size-4;
    @extend .has-text-weight-bold;
  }

  .position {
    @extend .is-size-6;
    @extend .has-text-weight-normal;
  }
  .buttons {
    @extend .my-2;

    .social-button {
      @extend .button;
      @extend .is-shadowless;

      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 0;
      background-color: rgba($white, 0);
      color: $white;

      &:hover,
      &:focus,
      &:focus-within,
      &:target,
      &:visited,
      &:active {
        background-color: rgba($white, 0.3);
        color: $white;
      }
    }
  }

  .download-button {
    @extend .button;
    @extend .is-rounded;
    @extend .is-shadowless;
    @extend .p-5;
    @extend .mt-2;

    font-size: 16px;
    border: 2px solid $white;
    background: transparent;
    color: $white;

    &:hover,
    &:focus,
    &:focus-within,
    &:target,
    &:visited,
    &:active {
      color: $primary;
      background-color: $white;
      border-color: $white;
    }
  }

  .copyright {
    @extend .has-text-white;
    @extend .has-text-weight-bold;

    font-size: 12px;
  }

  .bulma-badge {
    @extend .mt-1;
  }
}
