@import "../styles/custom.scss";

// $yellow: #ffc107;

.wrapper {
  @extend .columns;
  @extend .is-vcentered;
  @extend .is-gapless;

  height: 100vh;
}

.personal-card {
  @extend .columns;
  @extend .is-centered;
  @extend .is-gapless;

  .box {
    height: 75vh;
  }

  .introduction-wrapper {
    @extend .column;
    @extend .is-3;

    .introduction {
      @extend .box;

      background-color: $primary;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      padding-right: 22px;
    }
  }

  .information-wrapper {
    @extend .column;
    @extend .is-6;
    // animation: navAnimOpen 2s ease-in-out;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;

    .information {
      @extend .box;
      margin-left: -22px;
      border-radius: 30px;
    }

    .transform-active {
      background-color: red;
      height: 200px;
      width: 200px;
    }

    // @keyframes navAnimOpen {
    //   0% {
    //     display: none;
    //     opacity: 0;
    //     max-height: 0;
    //   }
    //   1% {
    //     display: block;
    //     opacity: 0;
    //   }
    //   100% {
    //     opacity: 1;
    //   }
    // }
  }

  ul.main-menu {
    @extend .py-3;
    @extend .px-0;
    @extend .mx-5;

    width: 70px;
    background-color: #fff;
    border-radius: 35px;
    z-index: 999;
    list-style: none;
    text-align: center;

    li {
      @extend .my-2;
      @extend .is-relative;

      .menu-item {
        color: $light-grey;

        .active {
          color: $yellow;
        }
      }

      .material-icons-outlined {
        font-size: 32px;
      }

      .hovercard {
        position: absolute;
        opacity: 0;
        z-index: 1;
        right: -100%;
        top: 0;
        transform: translateX(-75px);
        transition: all 0.2s ease-in-out;

        .tooltiptext {
          @extend .px-3;
          @extend .py-2;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          background-color: $yellow;
          font-weight: bold;
          color: white;
          line-height: 15px;
          width: auto;
          white-space: nowrap;
        }
      }

      &:hover .hovercard {
        opacity: 1;
        right: 0;
        transition: all 0.2s ease-in-out;
        transition-delay: 0.1s;
      }

      &:hover .menu-item {
        color: $yellow;
      }
    }
  }
}
