body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  height: 2000px;
}

.navbar{
  z-index: 1030;
}

.heading {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}

.my-quote, .bar-heading{
  font-size: 15px;
}

.social-links a.btn.btn-social-icon i{
  font-size: 18px;
}

.py-huge{
  padding-top: 100px;
  padding-bottom: 100px;
}

section#hero_introduction_section .biography_wrapper {
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
}

.section-seperator{
  background: #f4f4f4;
}

.section-primary{
  background: #17a2b8;
}

.progress{
  height: 4px;
}

.progress-bar{
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
}

.tooltip{
  z-index: 1020;
}

.tooltip .arrow:before{
  left: 115%;
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent; 
  border-top: 5px solid #eebf3f;
}

.tooltip > .tooltip-inner {
  background-color: #eebf3f; 
  color:rgb(23,44,66); 
  font-weight:bold; 
  font-size:13px;
}

img.portfolio {
  height: 270px !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.6);
}

.portfolio-wrapper:hover .overlay {
  opacity: 1;
}

.text-overlay {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}