body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #FBFBFB;
  height: 2000px;
}

.heading {
  font-family: 'Source Sans Pro Semibold', sans-serif;
}

.my-quote {
  font-size: 15px;
}

.social-links a.btn.btn-social-icon i{
  font-size: 18px;
}

.py-huge{
  padding-top: 100px;
  padding-bottom: 100px;
}

section#hero_introduction_section .biography_wrapper {
  -webkit-animation-duration: 1.3s;
  -moz-animation-duration: 1.3s;
  -o-animation-duration: 1.3s;
  -ms-animation-duration: 1.3s;
}

.section-seperator{
  background: #f4f4f4;
}