ul.timeline {
  list-style: none;
}

ul.timeline li.timeline-info {
  position: relative;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.3rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(0,0,0,.125);
}
ul.timeline li:not(:first-child) {
  margin-top: 70px;
}
ul.timeline li > span {
  width: 2px;
  height: 100%;
  background: #17a2b8;
  left: -30px;
  top: 0;
  position: absolute;
}
ul.timeline li > span:before, ul.timeline li > span:after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #17a2b8;
  position: absolute;
  background: #86b7e7;
  left: -3px;
  top: 0;
}
ul.timeline li span:after {
  top: 100%;
}
ul.timeline li > div {
  margin-left: 10px;
}

h4.info{
  color: #6c757d;
  font-size: 15px;
}

span.number {
  height: 100%;
}
span.number span {
  position: absolute;
  font-size: 12px;
  left: -43px;
  margin-top: -4px;
  font-weight: bold;
}
span.number span:first-child {
  top: 0;
}
span.number span:last-child {
  top: 100%;
}

span.connector:before{
  content: "\2014 \00A0";
}
